#con{
    background: #101010;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#con_home {
    background: url(../images/contact-header.jpg) ;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 160px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
#innn{
    text-align: start;
    background: #202020;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
    height: 53px
}
#text{
    background: #202020;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
    height: auto;
}
